<form action="/payment/results">
    <div>
        <label for="apr">APR</label>
        <input id="apr" type="text" placeholder="E.g. 5.42" name="user_apr">
    </div>

    <div>
        <label for="num_years">Number of years</label>
        <input id="num_years" type:"text" placeholder="How many years to repay debt?" name=user_years>
    </div>

    <div>
        <label for="principal">Principal</label>
        <input id="principal" type:"text" placeholder="How much principal?" name=user_pv>
    </div>

    <div>
        <button>Calculate monthly payment</button>
    </div>
</form>